.MainDialog{
    /* color: #703efe; */
    /* font-size: large; */
    background-color: #fafafa;
    grid-area: mainDialog;
    display: grid;
    grid-template-areas: 
    'dialog'
    'sendMesseg';
    grid-template-rows: 15fr 1fr;
}

.dialog{
    grid-area: dialog;
}
