body{
  font-family: 'Inter', sans-serif;
  background-color:rgb(218,218,219) ;
}

.main{
  margin: auto;
  margin-top: 5px;
  width: 1200px;
  min-height: 600px;
  display: grid;
  grid-template-areas: 
  'head head'
  'side  mainpage';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: rgb(218,218,219);
}
/* rgb(140,140,140) */
